/*my container*/
.m-container {
    padding-left: 6em !important;
    padding-right: 4em !important;
}

/*padding */
.m-padded-tb-mini  {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

.m-padded-tb-large {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

.m-padded-left-mini {
    padding-left: 1px !important;

}

/*margin*/

.m-margin-left-min {
    margin-left: 1px !important;
}


/*font size*/
.m-font-size-massive {
    font-size: 2em !important;
}
.m-font-size-huge {
    font-size: 1.5em !important;
}
.m-font-size-small {
    font-size: 0.7em !important;
}
.m-font-size-mini {
    font-size: 0.5em !important;
}
.m-font-size-tiny {
    font-size: 0.3em !important;
}

/*width*/
.m-width-massive {
    transform: scale(2) !important;
}


.m-width-huge {
    transform: scale(1.5) !important;
}

.m-width-small {
    transform: scale(0.7) !important;
    /*width: 2em !important;*/
}

.m-width-mini {
    transform: scale(0.5) !important;
    /*width: 2em !important;*/
}

/*font opacity*/
.m-opacity-mini {
    opacity: 0.5;
}

/*in line block*/
.m-inline-block {
    display: inline;
}


/* scale down or up module*/
.m-module-small {
    transform: scale(.7);
}

.m-module-mini {
    transform: scale(.5);
}